body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.my-comp {
  width: 300px;
  background-color: #ffffe0;
  border: solid;
  border-color: darkorange;
  border-radius: 8px;
  padding: 8px;
}
